<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <br>
    <h3>Create a new listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input required type="text" class="form-control" name="listing[title]" placeholder=" Enter Title">
            <div class="valid-feedback">looks good!</div>
            <div class="invalid-feedback">Title should be valid</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea required type="text" class="form-control" name="listing[description]" placeholder=" Description"></textarea>
            <div class="valid-feedback">looks good!</div>
            <div class="invalid-feedback">Enter a short description</div>
        </div>
        
        <!-- <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input type="text" class="form-control" name="listing[image]" placeholder=" Enter image URL/link">
        </div> -->
        
        <!-- add file -->
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" class="form-control" name="listing[image]">
            required
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input required type="number" class="form-control" name="listing[price]" placeholder=" Enter Price">
                <div class="valid-feedback">looks good!</div>
                <div class="invalid-feedback">price should be valid</div>
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input required type="text" class="form-control" name="listing[country]" placeholder=" Enter Country">
                <div class="valid-feedback">looks good!</div>
                <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>
         
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input required type="text" class="form-control" name="listing[location]" placeholder=" Enter Location">
            <div class="valid-feedback">looks good!</div>
            <div class="invalid-feedback">location should be valid</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
</div>
</div>
