<!-- <%- include("/layouts/boilerplate") %>
<h1>Search Results for "<%= search %>"</h1>
<ul>
  <% listings.forEach(listing => { %>
    <li>
      <h2><%= listing.title %></h2>
      <p><%= listing.description %></p>
    </li>
  <% }) %>
</ul> -->